{
    email jacob.d.burgett@gmail.com
    acme_ca https://acme.zerossl.com/v2/DV90
}

dnd.jck.sh {
    reverse_proxy localhost:30000
    tls {
        protocols tls1.2 tls1.3
    }
}

jck.sh {
    reverse_proxy localhost:3000
    tls {
        protocols tls1.2 tls1.3
    }
}

monitoring.jck.sh {
    reverse_proxy localhost:19999
    tls {
        protocols tls1.2 tls1.3
    }
}