{
        email jacob.d.burgett@gmail.com
        acme_ca https://acme-v02.api.letsencrypt.org/directory
}

dnd.jck.sh {
        reverse_proxy localhost:30000
        tls {
                protocols tls1.2 tls1.3
        }
}

jck.sh {
        reverse_proxy localhost:3000
        tls {
                protocols tls1.2 tls1.3
        }
}

monitoring.jck.sh {
        reverse_proxy localhost:19999
        tls {
                protocols tls1.2 tls1.3
        }
        basicauth {
                admin $2a$14$/xgpsFtpw4isLqj47kEs/eEt8AVmnAHbMznE2Z2WED/BDbQN54j0W
        }       
        header {
                Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
        }
}